html, body{
	height: 100%;
	margin: 0;
    background-color: rgb(49, 69, 89);
    color: white;
    font-family: roboto;
}

#wrapper{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#guessForm{
    height: auto;
	width: 20em;
	background-color: rgb(20, 29, 37);
	box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    padding: 2.5em 0;
}

h1{
	font-size: 2.5em;
	font-family: Indie Flower;
	margin: 0;
}

#player{
    width: 15.8em;
    height: 2em;
    margin: .5em 0;
}

#guess{
	height: 3em;
	width: 18em;
	border: 0;
	background-color: rgb(195, 195, 195);
	padding: 0 .5em;
	margin: .5em 0;
}

#answer{
	height: 3em;
	width: 19em;
	border: 0;
    background-color: rgb(49, 69, 89);
    color: white;
	margin: .5em 0;
}