html, body{
	height: 100%;
	margin: 0;
    background-color: rgb(49, 69, 89);
    color: white;
}

#wrapper{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#resultForm{
    height: auto;
	width: 20em;
	background-color: rgb(20, 29, 37);
	box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    padding: 2.5em 0;
}

h1{
	font-size: 1.7em;
	font-family: Indie Flower;
	margin: .2em 0;
}

p{
    font-size: 1em;
    font-family: Roboto;
    margin: .2em 0;
}

#nextPage{
	border: 0;
	background-color: rgb(49, 69, 89);
    color: white;
    height: 3.5em;
    width: 19em;
    margin: .5em 0;
}

button:hover{
	filter: grayscale(70%);
	cursor: pointer;
}
