.upload-wrapper{
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    min-height: 200px;
    margin: 0 auto;
    background-color: #303C4B;
    padding: 15px;
    padding-top: 25px;
    border-radius: 15px;
}

.upload-wrapper h1{
    font-size: 25px;
}

input{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#begin:hover, .flex-buttons button:hover{
    background-color: black;
    color: white;
}

.flex-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-buttons button{
    width: 47%;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
}

