.upload-wrapper{
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    min-height: 200px;
    margin: 0 auto;
    background-color: #303C4B;
    padding: 15px;
    padding-top: 25px;
    border-radius: 15px;
}

.upload-wrapper h1{
    font-size: 25px;
}

input{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#begin:hover{
    background-color: black;
    color: white;
}
