.upload-wrapper{
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background-color: black;
    padding: 15px;
    padding-top: 25px;
}

.upload-wrapper h1{
    width: 100%;
    font-size: 25px;
    margin-bottom: 30px;
}
audio{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

input{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: rgb(253, 240, 116);
    padding-top: 20px;
    padding-bottom: 20px;
}

#begin{
    background-color: rgb(247, 0, 255);
    box-shadow: 0 4px 4px 0 rgba(253, 253, 253, 0.603), 0 6px 20px 0 rgba(253, 253, 253, 0.603);
    border: none;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    font-weight: bold;
}

#begin:hover, .flex-buttons button:hover{
    background-color: rgb(184, 10, 190);
}

.flex-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-buttons:first-of-type{
    margin-bottom: 27px;
}

.flex-buttons button{
    width: 47%;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 25px;
    border-radius: 15px;
    background-color: aquamarine;
    border: none;
}

.flex-buttons button:hover{
    background-color: rgb(109, 219, 182);
}

#startButton{
    background-color: palegreen;
    color: black;
    font-weight: bold;
}
#stopButton{
    background-color: red;
    color: black;
    font-weight: bold;
}

