#waitingRoom{
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
    padding: 15px;
    padding-top: 25px;
    border-radius: 15px;
    display: block;
}

h3{
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.columnwrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h2{
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.column1{
    margin-top: 10px;
    width: 33%;  
}

.column2{
    width: 55%;
    background-color: black;
    margin-right: 10px;  
}

.column2 p{
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 10px;
}

.player-wrapper{
    background-color: black;
    width: 100%;
    border-radius: 15px;
    border: 1px solid white; 
    padding: 10px;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.player-wrapper .player-text p{
    font-size: 16px;
    margin-left: 10px;
    text-align: left;
}

.player-wrapper .player-text p:first-of-type{
    text-decoration: underline;
}

.player-text{
    display:block;
    width: 53%;
}

.player-wrapper img{
    width: 25%;
    border: 1px solid white;
    height: 50px;
}

.ready-wrapper{
    width: 10%;
}

.ready-marker{
    background-color: red;
    border-radius: 15px;
    border: 1px solid white;
    width: 10px;
    margin: 25px auto;
    min-height: 10px;
}

button{
    background-color: rgb(247, 0, 255);
    box-shadow: 0 4px 4px 0 rgba(253, 253, 253, 0.603), 0 6px 20px 0 rgba(253, 253, 253, 0.603);
    border: none;
    border-radius: 15px;
    margin: 20px auto;
    font-size: 20px;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    font-weight: bold;
}

button:hover{
    background-color: rgb(184, 10, 190);
}